
.BlogPost ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.BlogPost li{
    display: inline-block;
    margin: 20px;

}

.BlogPost a{
    text-decoration: none;
    color: orangered;
}

.BlogPost a:hover, .BlogPost a:active{
    color: orange;
}